<a href="https://colab.research.google.com/github/fcochaux/MINE-4101_Taller_2/blob/main/MINE-4101_Taller_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Taller 2 de Ciencia de Datos Aplicada

**Estudiante:** Francisco José Chaux Guzmán <br/>
**Código:** 202210155 <br/>
**Programa:** Maestría en Ingeniería de la Información

Enlace al repositorio de este taller:

In [4]:
!git clone "https://github.com/fcochaux/MINE-4101_Taller_2.git"

fatal: destination path 'MINE-4101_Taller_2' already exists and is not an empty directory.

In [6]:
pd.read_csv('/content/MINE-4101_Taller_2/datos/Data_Taller_2.csv', sep = ';')

,instant,Date,Season,Holiday,Weather,Temp,Feel_Temp,Hum,Wind,Casual,Registered,cnt
0,1,1/01/2020,Springer,No,Mist + Cloudy,"8,175849","9,090375","0,805833","10,749882",331,654,985
1,2,2/01/2020,Springer,No,Mist + Cloudy,"9,083466","8,625733","0,696087","-16,652113",131,670,801
2,3,3/01/2020,Springer,No,Few clouds,"1,229108","0,902035","0,437273","16,636703",120,1229,1349
3,4,4/01/2020,Springer,No,Few clouds,"1,4","1,969734","0,590435","10,739832",108,1454,1562
4,5,5/01/2020,Springer,No,Partly cloudy,"2,666979","2,77569","0,436957","12,5223",82,1518,1600
...,...,...,...,...,...,...,...,...,...,...,...,...
726,727,27/12/2021,Springer,No,Mist + Cloudy,"3,945849","2,652174","0,652917","23,458911",247,1867,2114
727,728,28/12/2021,Springer,No,Mist + Few clouds,"3,906651","3,987162","0,59","10,416557",644,2451,3095
728,729,29/12/2021,Springer,No,Mist,"3,906651","3,3928","0,752917","8,333661",159,1182,1341
729,730,30/12/2021,Springer,No,Few clouds,"4,024151","2,8899","0,483333","23,500518",364,1432,1796
730,731,31/12/2021,Springer,No,Mist + Few clouds,"2,144151","2,503889","0,5775","10,374682",439,2290,2729